@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes float {
    0%, 100% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, -10px);
    }
  }
  
  .floating {
    animation: float 3s ease-in-out infinite;
    transform-origin: center;
  }