@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes float {
    0%, 100% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, -10px);
    }
  }
  
  .floating {
    animation: float 3s ease-in-out infinite;
    transform-origin: center;
  }

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width to make it thinner */
}

::-webkit-scrollbar-track {
    background: white; /* White track */
    border-radius: 10px; /* Oval shape */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(32, 87, 206); /* Blue thumb */
    border-radius: 10px; /* Oval shape */
}